{% extends 'base.html' %}
{% block content %}
<script>
    function storevariable(){
        var title = document.getElementById("Title").value;
        var description = document.getElementById("Description").value;
        var texttype = document.getElementById("TextType").value;
        var content  = document.getElementById("Content").value;
        var contenttype = document.getElementById("ContentType").value;
        var categories = document.getElementById("Categories").value;
        var visibility = document.getElementById("Visibility").value;
        var imagepost = document.getElementById("ImagePost").value;
        var Unlisted = document.getElementById("Unlisted").value;
    }
</script>
<html lang="en">
    <head>
        <body>
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div class="m-3">
                    <h1>
                        Create a Post!
                    </h1>
                    <!--Title-->
                    <div class="mb-3">
                        <label for="Title" class="form-label">Title:</label>
                        <input class="form-control" id="Title" style="width:80%" type="text" placeholder="Please enter title of post"></input>
                    </div>
                    <!--Description-->
                    <div class="mb-3">
                        <label for="Description" class="form-label">Description:</label>
                        <textarea class="form-control" id="Description" style="width:80%" type="text" placeholder="Please enter post description"></textarea>
                    </div>
                    <!--Text Type-->
                    <div class="mb-3">
                        <label for="TextType" class="form-label">Text Type:</label>
                        <select class="form-select" id="TextType" aria-label="Default select example" style="width:80%">
                            <option selected value="markdown">Markdown</option>
                            <option value="plain">Plain</option>
                        </select>
                    </div>
                    <!--Content-->
                    <div class="mb-3">
                        <label for="Content" class="form-label">Content:</label>
                        <textarea class="form-control" id="Content" style="width:80%" type="text" placeholder="Please enter content of post"></textarea>
                    </div>
                    <!--Content Type-->
                    <div class="mb-3">
                        <label for="ContentType" class="form-label">Content Type:</label>
                        <select class="form-select" id="ContentType" aria-label="Default select example" style="width:80%">
                            <option selected value="plain">Plain</option>
                            <option value="markdown">Markdown</option>
                            <option value="app">App</option>
                            <option value="png">Png</option>
                            <option value="jpg">Jpg</option>
                        </select>
                    </div>
                    <!--Categories-->
                    <div class="mb-3">
                        <label for="Categories" class="form-label">Categories:</label>
                        <textarea class="form-control" id="Categories" style="width:80%" type="text" placeholder="Please enter categories of post (seperated by commas)"></textarea>
                    </div>
                    <!--Visibility-->
                    <div class="mb-3">
                        <label for="Visibility" class="form-label">Visibility:</label>
                        <select class="form-select" style="width:80%" id="Visibility">
                            <option selected value="public"> Public</option>
                            <option value="private">Private</option>
                        </select>
                    </div>
                    <!--Image Post-->
                    <div class="mb-3">
                        <label for="ImagePost" class="form-label">Image Post:</label>
                        <input class="form-control" type="file" id="ImagePost" style="width:80%">
                    </div>
                    <!--Unlisted-->
                    <div class="mb-3">
                        <label for="Unlisted" class="form-label">Unlisted:</label>
                        <select class="form-select" id="Unlisted"style="width:80%">
                            <option selected value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <!--Post-->
                    <button type="button" class="btn btn-dark">Post!</button>
                </div>
            </form>
            {% else %}
                <div>
                    Please login to post!
                </div>
            {% endif %}
        </body>
    </head>
{% endblock content %}