:root {
  --primary-color: #007bff;
  /* --primary-color: red; */
  --border-color: #e4e4e4;
  --dark-blue: #242936;
  --default-font: 'Roboto', sans-serif;
}

body {
  background-color: #ededed;
}

/* specific elements */

/* For Alex Testing */

/* Relocate buttons */
.btn.btn-edit.btn-sm{
  margin-left: 2.5em;
}

.btn.btn-danger.btn-sm {
  margin-left: 3.5em;
}


/* Like and edit Button Hover when*/
.btn.btn-secondary.btn-sm:hover{
  color: #F08080;
}
/* Delete button hover */
.btn.btn-danger.btn-sm:hover {
  color: red;
}



/* editing post content */
.card-subtitle.mb-2.text-muted, .post-content, .btn.btn-secondary.btn-sm{
  margin-left: 1.5em;
}

/* editing category icon */
.badge.bg-secondary{
  margin-left: 2.5em;
}

/* Post titile */
.card-title{
  font-weight: bold;
  margin-left: 0.5em;
}

#settings_save_changes {
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo img {
  height: 30px;
}


.menu-icons a {
  margin-left: 20px;
  font-size: 24px;
  color: #000;
}

.menu-icons a:hover {
  color: #0095f6;
}

.post {
  margin: 80px auto;
  max-width: 600px;
  border: 1px solid #ddd;
}

.form-popup {
  display: none;
  border: 3px solid black;
}

