:root {
  --primary-color: #007bff;
  --border-color: #e4e4e4;
  --dark-blue: #242936;
  --default-font: 'Roboto', sans-serif;
}

body {
  background-color: #ededed;
}

/* Login Screen */
.centered {
  width: 50%;
  margin: 30vh auto;
  border: 1pt solid var(--border-color);
  border-radius: 10pt;
  background-color: white;
}

.login-form {
  width: 60%;
  margin: 0 auto;
}

.login-form > input {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8pt;
  padding: 5pt;
  border: 1pt solid var(--border-color);
}

.login-form > input:focus {
  outline: 1pt solid var(--primary-color);
}

.login-btn {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5pt;
  padding: 7pt;
  cursor: pointer;
}
