{% extends 'base.html' %}
<link rel="stylesheet" href="../static/socialDist/styles.css">
{% block content %}
<main>
    <div class="container-md mt-2">
        <div class="grid" id="posts">
            <div class="d-flex justify-content-center">
                <div class="spinner-border">
                  <span class="visually-hidden">Loading Posts...</span>
                </div>
              </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            function displayAlert(alertType, alertMessage,id) {
                alertContainer = document.getElementById("save-alert-"+id);
                alertContainer.innerHTML = "";
                saveAlert = document.createElement("div");
                saveAlert.classList.add("alert", alertType);
                saveAlert.innerText = alertMessage;
                alertContainer.appendChild(saveAlert);
            }
            async function toBase64(id) {
                return new Promise((resolve, reject) => {
                    const input = document.getElementById("ImagePost-"+id);
                    const file = input.files[0];

                    const reader = new FileReader();
                    reader.readAsDataURL(file);

                    reader.onload = function () {
                        const base64String = reader.result.split(',')[1];
                        resolve(base64String);
                    }

                    reader.onerror = function (error) {
                        reject(error);
                    }
                }).catch(displayAlert("alert-danger", "Please fill out required (*) fields!",id));
            }

            async function putData(id) {
                element_id = id.slice(-10)
                api = id.slice(-27)
                const url = "/api/" + api + "/"
                let postContent, contentType;
                if (document.getElementById("ImagePost-"+element_id)) { // if post is an image
                    const base64String = await toBase64(element_id);
                    postContent = base64String;
                    contentType = `image/${document.getElementById("ImagePost-"+element_id).value.split('.').pop()};base64`; // get file extension
                }
                else {
                    contentType = document.getElementById("ContentType-"+element_id).value;
                    postContent = document.getElementById("Content-"+element_id).value; // if post is text
                }
                
                const data = {
                    title: document.getElementById("Title-"+element_id).value,
                    description: document.getElementById("Description-"+element_id).value,
                    contentType: contentType,
                    categories: document.getElementById("Categories-"+element_id).value,
                    visibility: document.getElementById("Visibility-"+element_id).value,
                    content: postContent,
                    unlisted: document.getElementById("Unlisted-"+element_id).value,
                };
                if (data.visibility == "" || data.unlisted == "" || data.content == "") {
                    displayAlert("alert-danger", "Please fill out required (*) fields!",element_id );
                    return;
                }
                const response = await fetch(url, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
                    },
                    body: JSON.stringify(data),
                });
                if (response.status == 201) {
                    console.log("alert-success", "Post edited successfully!");
                    window.location.href = "/";
                } else {
                    console.log("alert-danger", "Post edit failed!");
                }
            }
            function deletePost(id){
                id = id.slice(-26)
                fetch_url = "/api/" + id +"/"
                fetch(fetch_url, {headers: new Headers({"X-CSRFToken": "{{ csrf_token }}","Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"}), method: 'DELETE'})
                .then((response) => response.status())
                .then(window.location.reload())
            }
            function openForm(id) {
                document.getElementById("form-"+id).style.display = "block";
            }

            function closeForm(id) {
                document.getElementById("form-"+id).style.display = "none";
            }
            let posts;
            fetch("/api/posts/", {headers: new Headers({"Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"})})
                .then((response) => response.json())
                .then((data) => {
                    if (data.items.length === 0) {
                        document.getElementById('posts').innerHTML = `<div class="d-flex justify-content-center py-4"><h3>No posts to show.</h3></div>`
                        return
                    }
                    posts = data.items;

                    document.getElementById('posts').innerHTML = posts.map((post) => {
                        id = post.id.slice(-10)
                        form = ` <button class="open-button" onclick="openForm('${id}')">Edit </button>
                                    <div class="form-popup" id="form-${id}">
                                    <form>`
                        
                        let content;
                        if (post.contentType.startsWith("image")) {
                            content = `<img class="img-fluid mx-auto d-block" style="max-width: 50%" src="data:${post.contentType}, ${post.content}"/><br>`;
                            form_image = 
                            `
                            <!--Title-->
                            <div class="mb-3">
                                <label for="Title" class="form-label">Title*:</label>
                                <input class="form-control" id="Title-${id}" style="width:80%" type="text"
                                    placeholder="Edit title" value="${post.title}"></input>
                            </div>
                            <!--Description-->
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description*:</label>
                                <textarea class="form-control" id="Description-${id}" style="width:80%" type="text"
                                    placeholder="Edit description">${post.description}</textarea>
                            </div>
                            <!--Image Post-->
                            <div class="mb-3" id="post-image">
                                <label for="ImagePost" class="form-label">Upload Image:</label>
                                <input class="form-control" type="file" id="ImagePost-${id}" value="${post.content}" style="width:80%"
                                    accept="image/png, image/jpeg">
                            </div>
                            <!--Categories-->
                            <div class="mb-3">
                                <label for="Categories" class="form-label">Categories*:</label>
                                <textarea class="form-control" id="Categories-${id}" style="width:80%" type="text"
                                    placeholder="Please enter categories of post (seperated by commas)">${post.categories}</textarea>
                            </div>
                            <!--Visibility-->
                            <div class="mb-3">
                                <label for="Visibility" class="form-label">Visibility*:</label>
                                <select class="form-select" style="width:80%" id="Visibility-${id}">
                                    <option value="" disabled selected >Choose visibility type</option>
                                    <option value="VISIBLE"> Visible</option>
                                    <option value="PRIVATE">Private</option>
                                </select>
                            </div>
                            <!--Unlisted-->
                            <div class="mb-3">
                                <label for="Unlisted" class="form-label">Unlisted:</label>
                                <select class="form-select" id="Unlisted-${id}" style="width:80%">
                                    <option value="" disabled selected >Choose listing type</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            `
                            form += form_image
                        } else{
                            form_text =  `
                                        <!--Content Type-->
                                        <div class="mb-3" id="content-type">
                                            <label for="ContentType" class="form-label">Content Type:</label>
                                            <select class="form-select" id="ContentType-${id}" aria-label="Default select example" style="width:80%">
                                                {% if post.contentType == "text/plain" %}
                                                <option selected value="text/plain">Plain Text</option>
                                                <option value="text/markdown">Markdown</option>
                                                {% else %}
                                                <option value="text/plain">Plain Text</option>
                                                <option selected value="text/markdown">Markdown</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <!--Title-->
                                        <div class="mb-3">
                                            <label for="Title" class="form-label">Title*:</label>
                                            <input class="form-control" id="Title-${id}" style="width:80%" type="text"
                                                placeholder="Edit title" value="${post.title}"></input>
                                        </div>
                                        <!--Description-->
                                        <div class="mb-3">
                                            <label for="Description" class="form-label">Description*:</label>
                                            <textarea class="form-control" id="Description-${id}" style="width:80%" type="text"
                                                placeholder="Edit description">${post.description}</textarea>
                                        </div>
                                        <!--Content-->
                                        <div class="mb-3" id="post-content">
                                            <label for="Content" class="form-label">Content*:</label>
                                            <textarea class="form-control" id="Content-${id}" style="width:80%" type="text"
                                                placeholder="Please enter content of post" > ${post.content}</textarea>
                                        </div>
                                        <!--Categories-->
                                        <div class="mb-3">
                                            <label for="Categories" class="form-label">Categories*:</label>
                                            <textarea class="form-control" id="Categories-${id}" style="width:80%" type="text"
                                                placeholder="Edit categories">${post.categories}</textarea>
                                        </div>
                                        <!--Visibility-->
                                        <div class="mb-3">
                                            <label for="Visibility" class="form-label">Visibility*:</label>
                                            <select class="form-select" style="width:80%" id="Visibility-${id}">
                                                <option value="" disabled selected>Choose visibility type</option>
                                                <option value="VISIBLE"> Visible</option>
                                                <option value="PRIVATE">Private</option>
                                            </select>
                                        </div>
                                        <!--Unlisted-->
                                        <div class="mb-3">
                                            <label for="Unlisted" class="form-label">Unlisted:</label>
                                            <select class="form-select" id="Unlisted-${id}" style="width:80%">
                                                <option value="" disabled selected>Choose listing type</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    `
                                    form += form_text
                            if (post.contentType === "text/markdown") {
                            post.title = marked.parse(post.title);
                            post.description = marked.parse(post.description);
                            content = `<p class="card-text">${marked.parse(post.content)}</p>`;
                            } else {
                                content = `<p class="card-text">${post.content}</p>`;
                            }
                        let likedFunc = function() {
                            let authorURI = new URI(post.author.id);
                            console.log("/api"+authorURI.pathname+"/liked");
                        };
                        }
                        display_posts = `
                            <div class="card my-3" id="post-${id}">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="${post.id}">${post.title}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><a href="${post.author.url}">${post.author.displayName}</a></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">${post.description} <span class="badge bg-secondary">${post.categories}</span></h6>
                                    ${content}
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        </svg>   
                                    </button>
                        `
                        form += `<button type="button" onclick="putData('${post.id}')">Submit</button>
                                        <button type="button" class="btn cancel" onclick="closeForm('${id}')">Close</button>
                                    </form>
                                    <div id="save-alert-${id}"></div>
                                    </div>
                                    `
                        if (post.author.id.slice(-1) == "{{user.id}}") {
                            display_posts += `
                                    <button onclick="deletePost('${post.id}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>`
                                    + form + `</div> </div> </div>`
                        } else{
                            display_posts += `</div> </div>`
                        }
                        return (display_posts)
                    }).join('');
                })
                .catch((error) => {
                    console.error("Fetch error:", error);
                    document.getElementById('posts').innerHTML = `<div class="d-flex justify-content-center py-4"><h3>Error fetching posts</h3></div>`
                });
            fetchExternalPosts();
            //Source: https://stackoverflow.com/questions/494143/creating-a-new-dom-element-from-an-html-string-using-built-in-dom-methods-or-pro/35385518#35385518
            function htmlToElement(html) {
                var template = document.createElement('template');
                template.innerHTML = html;
                return template.content;
            }
            
            async function fetchExternalPosts() {
            //Source: https://stackoverflow.com/questions/43305020/how-to-use-the-context-variables-passed-from-django-in-javascript
            var listOfConnections = JSON.parse('{{connections|escapejs}}');
            for (connection of listOfConnections) {
                let returnedData;
                if (connection.apiCreds === "") {
                    returnedData = await fetch(connection.apiAddress + "/authors/");
                }
                else {
                    returnedData = await fetch(connection.apiAddress + "/authors/", 
                                                {headers: new Headers({"Authorization": connection.apiCreds })});
                }
                let returnedDatatext = await returnedData.text();
                let returnedDataList = JSON.parse(returnedDatatext);
                if (returnedDataList.items.length == 0) {
                    continue
                }
                for (data of returnedDataList.items) {
                     // https://dmitripavlutin.com/parse-url-javascript/
                    let data_url = new URL(data.id);
                    let data_path = data_url.pathname;
                    let index = data_path.search("/api")
                    if (index != -1) {
                        console.log(data_path)
                        data_path = data_path.substring(index+4)
                    }
                    let posts_response = await fetch(connection.apiAddress + data_path + "/posts/",
                                                    {headers: new Headers({"Authorization": connection.apiCreds })});
                    let posts_list_json = await posts_response.text();
                    let post_list_obj = JSON.parse(posts_list_json);
                    let posts;
                    if (post_list_obj.items == undefined) {
                        posts = post_list_obj;
                    }
                    else {
                        posts = post_list_obj.items;
                    }
                    if (posts.length == 0) {
                        continue;
                    }
                    for (post of posts) {
                        let content;
                        // ensure we dont render unlisted posts of our connected nodes
                        if (post.unlisted) {
                            continue
                        }
                        if (post.contentType.startsWith("image")) {
                            content = `<img class="img-fluid mx-auto d-block" style="max-width: 50%" src="data:${post.contentType}, ${post.content}"/><br>`;
                        } else if (post.contentType === "text/markdown") {
                            post.title = marked.parse(post.title);
                            post.description = marked.parse(post.description);
                            content = `<p class="card-text">${marked.parse(post.content)}</p>`;
                        } else {
                            content = `<p class="card-text">${post.content}</p>`;
                        }
                        var htmlElement = htmlToElement(`
                        <div class="card my-3">
                            <div class="card-body">
                                <h5 class="card-title"><a href="${post.id}">${post.title}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><a href="${post.author.url}">${post.author.displayName}</a></h6>
                                <h6 class="card-subtitle mb-2 text-muted">${post.description} <span class="badge bg-secondary">${post.categories}</span></h6>
                                ${content}
                                <button type="button" class="btn btn-secondary btn-sm" id="likeButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>   
                                </button>
                            </div>
                        </div>
                        `)
                        console.log(htmlElement);
                        document.getElementById("posts").appendChild(htmlElement);
                    }
                }
            }
            }
            
        </script>
</main>

{% endblock content %}