{% extends 'base.html' %}
<link rel="stylesheet" href="../static/socialDist/styles.css">
{% block content %}
<main>
    <div class="container-md mt-2">
        <div class="grid" id="posts">
            <div class="d-flex justify-content-center">
                <div class="spinner-border">
                  <span class="visually-hidden">Loading Posts...</span>
                </div>
              </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            async function postData() {
                const url = "/api/authors/{{user.id}}/posts/"
                let postContent, contentType;
                
                const data = {
                    title: document.getElementById("Title").value,
                    description: document.getElementById("Description").value,
                    contentType: contentType,
                    categories: document.getElementById("Categories").value,
                    visibility: document.getElementById("Visibility").value,
                    content: postContent,
                    unlisted: document.getElementById("Unlisted").value,
                };
                if (data.title == "" || data.description == "" || data.categories == "" || data.visibility == "" || data.content == "") {
                    displayAlert("alert-danger", "Please fill out required (*) fields!");
                    return;
                }
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
                    },
                    body: JSON.stringify(data),
                });
                if (response.status == 201) {
                    displayAlert("alert-success", "Post created successfully!");
                    window.location.href = "/";
                } else {
                    displayAlert("alert-danger", "Post creation failed!");
                }
            }
            function deletePost(id){
                id = id.slice(-26)
                fetch_url = "/api/" + id +"/"
                fetch(fetch_url, {headers: new Headers({"X-CSRFToken": "{{ csrf_token }}","Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"}), method: 'DELETE'})
                .then((response) => response.status())
                .then(window.location.reload())
            }
            function openForm(id) {
                document.getElementById("form-"+id).style.display = "block";
            }

            function closeForm(id) {
                document.getElementById("form-"+id).style.display = "none";
            }
            let posts;
            fetch("/api/posts", {headers: new Headers({"Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"})})
                .then((response) => response.json())
                .then((data) => {
                    if (data.items.length === 0) {
                        document.getElementById('posts').innerHTML = `<div class="d-flex justify-content-center py-4"><h3>No posts to show.</h3></div>`
                        return
                    }
                    posts = data.items;

                    document.getElementById('posts').innerHTML = posts.map((post) => {
                        form =  `
                                <button class="open-button" onclick="openForm('${post.id}')">Edit </button>
                                    <div class="form-popup" id="form-${post.id}">
                                    <form>
                                        <!--Title-->
                                        <div class="mb-3">
                                            <label for="Title" class="form-label">Title*:</label>
                                            <input class="form-control" id="Title" style="width:80%" type="text"
                                                placeholder="Edit title" value="${post.title}"></input>
                                        </div>
                                        <!--Description-->
                                        <div class="mb-3">
                                            <label for="Description" class="form-label">Description*:</label>
                                            <textarea class="form-control" id="Description" style="width:80%" type="text"
                                                placeholder="Edit description">${post.description}</textarea>
                                        </div>
                                        <!--Categories-->
                                        <div class="mb-3">
                                            <label for="Categories" class="form-label">Categories*:</label>
                                            <textarea class="form-control" id="Categories" style="width:80%" type="text"
                                                placeholder="Edit categories">${post.categories}</textarea>
                                        </div>
                                        <!--Visibility-->
                                        <div class="mb-3">
                                            <label for="Visibility" class="form-label">Visibility*:</label>
                                            <select class="form-select" style="width:80%" id="Visibility">
                                                <option disabled selected>Choose visibility type</option>
                                                <option value="VISIBLE"> Visible</option>
                                                <option value="PRIVATE">Private</option>
                                            </select>
                                        </div>
                                        <!--Unlisted-->
                                        <div class="mb-3">
                                            <label for="Unlisted" class="form-label">Unlisted:</label>
                                            <select class="form-select" id="Unlisted" style="width:80%">
                                                <option disabled selected>Choose listing type</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    `
                        let content;
                        if (post.contentType.startsWith("image")) {
                            content = `<img class="img-fluid mx-auto d-block" style="max-width: 50%" src="data:${post.contentType}, ${post.content}"/><br>`;
                        } else if (post.contentType === "text/markdown") {
                            post.title = marked.parse(post.title);
                            post.description = marked.parse(post.description);
                            content = `<p class="card-text">${marked.parse(post.content)}</p>`;
                        } else {
                            content = `<p class="card-text">${post.content}</p>`;
                            form +=    `<!--Content-->
                                <div class="mb-3" id="post-content">
                                    <label for="Content" class="form-label">Content*:</label>
                                    <textarea class="form-control" id="Content" style="width:80%" type="text"
                                        placeholder="Please enter content of post" > ${post.content}</textarea>
                                </div>
                                ` 
                        }
                        display_posts = `
                            <div class="card my-3" id="post-${post.id}">
                                <div class="card-body">p 
                                    <h5 class="card-title"><a href="${post.id}">${post.title}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><a href="${post.author.id}">${post.author.displayName}</a></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">${post.description} <span class="badge bg-secondary">${post.categories}</span></h6>
                                    ${content}
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        </svg>   
                                    </button>
                        `
                        form += `<button type="submit" class="btn">Submit</button>
                                        <button type="button" class="btn cancel" onclick="closeForm('${post.id}')">Close</button>
                                    </form></div>
                                    </div>`
                        if (post.author.id.slice(-1) == "{{user.id}}") {
                            display_posts += `
                                    <button onclick="deletePost('${post.id}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>`
                                    + form
                                }

                        return (display_posts)
                    }).join('')
                })
                .catch((error) => {
                    console.error("Fetch error:", error);
                    document.getElementById('posts').innerHTML = `<div class="d-flex justify-content-center py-4"><h3>Error fetching posts</h3></div>`
                });
           
            //Source: https://stackoverflow.com/questions/494143/creating-a-new-dom-element-from-an-html-string-using-built-in-dom-methods-or-pro/35385518#35385518
            function htmlToElement(html) {
                var template = document.createElement('template');
                template.innerHTML = html;
                return template.content;
            }
            fetchExternalPosts();
            async function fetchExternalPosts() {
                //Source: https://stackoverflow.com/questions/43305020/how-to-use-the-context-variables-passed-from-django-in-javascript
            var listOfConnections = JSON.parse('{{connections|escapejs}}');
            console.log(listOfConnections);
            for (connection of listOfConnections) {
                let returnedData = await fetch(connection.apiAddress + "/authors/", 
                                                {headers: new Headers({"Authorization": connection.apiCreds })});
                let returnedDatatext = await returnedData.text();
                let returnedDataList = JSON.parse(returnedDatatext);
                for (data of returnedDataList.items) {
                     // https://dmitripavlutin.com/parse-url-javascript/
                    let data_url = new URL(data.id);
                    let data_path = data_url.pathname;
                    let posts_response = await fetch(connection.apiAddress + data_path + "/posts/",
                                                    {headers: new Headers({"Authorization": connection.apiCreds })});
                    let posts_list_json = await posts_response.text();
                    let post_list_obj = JSON.parse(posts_list_json);
                    let posts = post_list_obj.items;
                    for (post of posts) {
                        let content;
                        if (post.contentType.startsWith("image")) {
                            content = `<img class="img-fluid mx-auto d-block" style="max-width: 50%" src="data:${post.contentType}, ${post.content}"/><br>`;
                        } else if (post.contentType === "text/markdown") {
                            post.title = marked.parse(post.title);
                            post.description = marked.parse(post.description);
                            content = `<p class="card-text">${marked.parse(post.content)}</p>`;
                        } else {
                            content = `<p class="card-text">${post.content}</p>`;
                        }
                        var htmlElement = htmlToElement(`
                        <div class="card my-3">
                            <div class="card-body">
                                <h5 class="card-title"><a href="${post.url}">${post.title}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><a href="${post.author.url}">${post.author.displayName}</a></h6>
                                <h6 class="card-subtitle mb-2 text-muted">${post.description} <span class="badge bg-secondary">${post.categories}</span></h6>
                                ${content}
                                <button type="button" class="btn btn-secondary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>   
                                </button>
                            </div>
                        </div>
                        `)
                        console.log(htmlElement);
                        document.getElementById("posts").appendChild(htmlElement);
                    }
                }
            }
            }
            
        </script>
</main>

{% endblock content %}