<!-- https://getbootstrap.com/docs/5.3/components/dropdowns/ -->
{% extends 'base.html' %}
{% block content %}

<head>
    <!-- FontAwesome Icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="container-md mt-2">
    <div class="grid" id="post">
        <div class="d-flex justify-content-center">
            <div class="spinner-border">
                <span class="visually-hidden">Loading Post...</span>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    let data_url = new URL("{{post.id}}");
    let data_path = data_url.pathname;
    let post;
    function deletePost(id) {
        url = new URL(id)
        fetch_url = "/api" + url.pathname + "/"
        fetch(fetch_url, { headers: new Headers({ "X-CSRFToken": "{{ csrf_token }}", "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816" }), method: 'DELETE' })
            .then((response) => response.status())
            .then(window.location.reload())
    }
    //https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html
    function editPost(id) {
        url = new URL(id)
        window.location.href = url.pathname + "/edit/"
    }
    function postComment(id) {
        url = new URL(id)
        window.location.href = url.pathname + "/comments/"
    }
    async function getComment(author_id, post_id) {
        const url = `/api/authors/${author_id}/posts/${post_id}/comments/`
        const response = await fetch(url, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
            },
        }).then(response => response.json())
            .then(data => {
                for (const x of data.items){
                    comment_html = `<div>${x.content}</div>`
                    document.getElementById("comment").innerHTML += comment_html 
                }
            });
    }
    const current_author = JSON.parse('{{current_author|escapejs}}');
    fetch("/api" + data_path + "/",
        { headers: new Headers({ "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816" }) })
        .then((response) => response.json())
        .then((data) => {
            post = data;
            post_url = new URL(post.id)
            author_url = new URL(post.author.url)
            post_relative_path = post_url.pathname + "/"
            author_relative_path = author_url.pathname + "/"
            author_arr = author_url.pathname.split("/");
            post_arr = post_url.pathname.split("/");
            post_id = post_arr[post_arr.length - 1];
            author_id = author_arr[author_arr.length - 1];
            let content;
            if (post.contentType.startsWith("image")) {
                content = `<img class="img-fluid mx-auto d-block" style="max-width: 50%" src="data:${post.contentType}, ${post.content}"/><br>`;
            } else if (post.contentType === "text/markdown") {
                post.title = marked.parse(post.title);
                post.description = marked.parse(post.description);
                content = `<p class="card-text">${marked.parse(post.content)}</p>`;
            } else {
                content = `<p class="card-text">${post.content}</p>`;
            }
            display_post = `
                        <div class="card my-3" id="post-${post_id}">
                            <div class="card-body">
                                <h5 class="card-title"><a href="${post_relative_path}">${post.title}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><a href="${author_relative_path}">${post.author.displayName}</a></h6>
                                <h6 class="card-subtitle mb-2 text-muted">${post.description} <span class="badge bg-secondary">${post.categories}</span></h6>
                                ${content}
                                <button type="button" class="btn btn-secondary btn-sm" id="like-btn">
                                    <i class="fa-regular fa-heart"></i>   
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="postComment('${post.id}')">
                                    Comment
                                </button>`
            if (author_id == current_author.id) {
                display_post += `
                            <button type="button" class="btn btn-secondary btn-sm" onclick="editPost('${post.id}')">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="deletePost('${post.id}')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                                    `
            }
            getComment(author_id,post_id)
            comments_section = 
            `
            <div class="card my-3">
                <h3> Comment section: </h3>
                <div id="comment"></div>
            </div>
            `
            document.getElementById("post").innerHTML = display_post + '</div></div>' + comments_section
            isLiked(post);
        });
    async function likePost(post) {
        const author = post.author;
        const authorID = author.id.split("/").pop();
        const url = `/api/authors/${authorID}/inbox/`
        const data = {
            "@context": "Post Like",
            "summary": "{{ user.username }} Likes your post",
            "type": "Like",
            "author": current_author,
            "object": post.id
        }
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
            },
            body: JSON.stringify(data),
        });
        if (response.status == 200) {
            document.getElementById('like-btn').innerHTML = '<i class="fa-solid fa-heart"></i>';
            document.getElementById('like-btn').disabled = true;
        } else {
            console.log(response.status, response.statusText)
        }
    }

    async function isLiked(post) {
        // checks if current user liked the post
        const author = post.author;
        const authorID = author.id.split("/").pop();
        const url = `/api/authors/${authorID}/posts/${post.id.split('/').pop()}/likes/`
        const response = await fetch(url, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
            },
        }).then(response => response.json())
            .then(data => {
                for (like of data.items) {
                    if (like.author.id = current_author.id) {
                        document.getElementById('like-btn').innerHTML = '<i class="fa-solid fa-heart"></i>';
                        document.getElementById('like-btn').disabled = true;
                    }
                }
            });
    }
</script>
{% endblock content %}