{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-md mt-2">
        <form method="post">
            {% csrf_token %}
            <div class="m-3">
                <h1>
                    Create a Post!
                </h1>
                <!--Title-->
                <div class="mb-3">
                    <label for="Title" class="form-label">Title*:</label>
                    <input class="form-control" id="Title" style="width:80%" type="text"
                        placeholder="Please enter title of post"></input>
                </div>
                <!--Description-->
                <div class="mb-3">
                    <label for="Description" class="form-label">Description*:</label>
                    <textarea class="form-control" id="Description" style="width:80%" type="text"
                        placeholder="Please enter post description"></textarea>
                </div>
                <!--Text Type-->
                <div class="mb-3">
                    <label for="TextType" class="form-label">Text Type:</label>
                    <select class="form-select" id="TextType" aria-label="Default select example" style="width:80%">
                        <option selected value="markdown">Markdown</option>
                        <option value="plain">Plain</option>
                    </select>
                </div>
                <!--Content-->
                <div class="mb-3">
                    <label for="Content" class="form-label">Content:</label>
                    <textarea class="form-control" id="Content" style="width:80%" type="text"
                        placeholder="Please enter content of post"></textarea>
                </div>
                <!--Content Type-->
                <div class="mb-3">
                    <label for="ContentType" class="form-label">Content Type:</label>
                    <select class="form-select" id="ContentType" aria-label="Default select example" style="width:80%">
                        <option selected value="plain">Plain</option>
                        <option value="markdown">Markdown</option>
                        <option value="app">App</option>
                        <option value="png">Png</option>
                        <option value="jpg">Jpg</option>
                    </select>
                </div>
                <!--Categories-->
                <div class="mb-3">
                    <label for="Categories" class="form-label">Categories*:</label>
                    <textarea class="form-control" id="Categories" style="width:80%" type="text"
                        placeholder="Please enter categories of post (seperated by commas)"></textarea>
                </div>
                <!--Visibility-->
                <div class="mb-3">
                    <label for="Visibility" class="form-label">Visibility*:</label>
                    <select class="form-select" style="width:80%" id="Visibility">
                        <option selected value="VISIBLE"> Visible</option>
                        <option value="PRIVATE">Private</option>
                    </select>
                </div>
                <!--Image Post-->
                <div class="mb-3">
                    <label for="ImagePost" class="form-label">Image Post:</label>
                    <input class="form-control" type="file" id="ImagePost" style="width:80%"
                        accept="image/png, image/jpeg">
                </div>
                <!--Unlisted-->
                <div class="mb-3">
                    <label for="Unlisted" class="form-label">Unlisted:</label>
                    <select class="form-select" id="Unlisted" style="width:80%">
                        <option value="yes">Yes</option>
                        <option selected value="no">No</option>
                    </select>
                </div>
                <!--Post-->
                <div id="save-alert"></div>
                <button type="button" class="btn btn-dark" onclick="postData()">Post!</button>
            </div>
        </form>
    </div>
</main>

<script>
    function displayAlert(alertType, alertMessage) {
        alertContainer = document.getElementById("save-alert");
        alertContainer.innerHTML = "";
        saveAlert = document.createElement("div");
        saveAlert.classList.add("alert", alertType);
        saveAlert.innerText = alertMessage;
        alertContainer.appendChild(saveAlert);
    }

    async function postData() {
        const url = "/api/authors/{{user.id}}/posts/"
        const data = {
            title: document.getElementById("Title").value,
            description: document.getElementById("Description").value,
            contenttype: document.getElementById("ContentType").value,
            categories: document.getElementById("Categories").value,
            visibility: document.getElementById("Visibility").value,
            imagepost: document.getElementById("ImagePost").value,
            unlisted: document.getElementById("Unlisted").value,
        };
        if (data.title == "" || data.description == "" || data.categories == "" || data.visibility == "") {
            displayAlert("alert-danger", "Please fill out required (*) fields!");
            return;
        }
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
            },
            body: JSON.stringify(data),
        });
        if (response.status == 201) {
            displayAlert("alert-success", "Post created successfully!");
            window.location.href ="/";
        } else {
            displayAlert("alert-danger", "Post creation failed!");
        }
    }

</script>
{% endblock content %}