{% block content %}
async function likePost(i) {
  // like a post
  const post = inboxData[i]; // we got a list of all inbox items from fetch; like button passes the index of which post to like
  const author = post.author;
  const authorID = author.id.split("/").pop();
  const authorURL = post.author.id;
  const hostname = new URL(author.id).hostname;
  let url = hostname === window.location.hostname ? `/api/authors/${authorID}/inbox/` : `https://${hostname}/api/authors/${authorID}/inbox/`;
  if ("https://" + hostname === "https://social-distribution-w23-t17.herokuapp.com") {
      url = `https://${hostname}/authors/${authorURL}/inbox/`;
  }
  if ("https://" + hostname === "https://social-distribution-media.herokuapp.com") {
      url = `https://${hostname}/api/authors/${authorID}/inbox`;
  }
  let authorization = "Token 516e5c3d636f46228edb8f09b9613d5b4b166816";
  if (hostname != window.location.hostname) {
      const remoteConnection = listOfConnections.find(connection => connection.hostName === "https://" + hostname);
      authorization = remoteConnection.apiCreds
  }
  let data = {
      "@context": "Post Like",
      "summary": "{{ user.username }} Likes your post",
      "type": "Like",
      "author": current_author,
      "object": post.id
  }
  if ("https://" + hostname == "https://social-distribution-media.herokuapp.com") {
      data = {
          "@context": "Post Like",
          "summary": "{{ user.username }} Likes your post",
          "type": "like",
          "author": current_author,
          "object": {
              "type": "like",
              "summary": "{{ user.username }} Likes your post",
              "author": current_author,
              "object": post.id
          }
      };
  }
  // POST a like object to the author's inbox
  const response = await fetch(url, {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
          "Authorization": authorization,
      },
      body: JSON.stringify(data),
  });
  if (response.status == 200 || response.status == 201 || response.status == 202) {
      document.getElementById(`like-btn-${i}`).innerHTML = `<i class="fa-solid fa-heart"></i>`;
      document.getElementById(`like-btn-${i}`).disabled = true;
  } else {
      console.log(response.status, response.statusText)
  }
}

async function isLiked(i) {
  // checks if current user liked the post
  const post = inboxData[i];
  const author = post.author;
  const authorURL = author.id;
  const authorID = author.id.split("/").pop();
  const hostname = new URL(author.id).hostname;
  const postURL = post.id;
  let url = hostname === window.location.hostname ? `/api/authors/${authorID}/posts/${post.id.split('/').pop()}/likes/` : `https://${hostname}/api/authors/${authorID}/posts/${post.id.split('/').pop()}/likes/`;
  if ("https://" + hostname === "https://social-distribution-w23-t17.herokuapp.com") {
      url = `https://${hostname}/authors/${authorURL}/posts/${postURL}/likes/`;
  }
  if ("https://" + hostname === "https://social-distribution-media.herokuapp.com") {
      url = `https://${hostname}/api/authors/${authorID}/posts/${post.id.split('/').pop()}/likes`
  }
  let authorization = "Token 516e5c3d636f46228edb8f09b9613d5b4b166816";
  if (hostname != window.location.hostname) {
      const remoteConnection = listOfConnections.find(connection => connection.hostName === "https://" + hostname);
      authorization = remoteConnection.apiCreds
  }
  // GET all likes for the post
  const response = await fetch(url, {
      method: "GET",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
          "Authorization": authorization,
      },
  }).then(response => response.json())
      .then(data => {
          for (like of data.items) {
              if (like.author.url == current_author.id) {
                  document.getElementById(`like-btn-${i}`).innerHTML = `<i class="fa-solid fa-heart"></i>`;
                  document.getElementById(`like-btn-${i}`).disabled = true;
              }
          }
      });
}

{% endblock content %}