{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-md mt-2">
        <form method="post">
            {% csrf_token %}
            <div class="m-3">
                <h1>
                    Post a comment!
                </h1>
                <div class="mb-3">
                    <label for="Comment" class="form-label"> Comment: </label>
                    <textarea class="form-control" id="Comment" style="width:80%" type="text"
                        placeholder="Please enter comment"></textarea>   
                    <!--Content Type-->
                    <div class="mb-3" id="content-type">
                        <label for="ContentType" class="form-label">Content Type:</label>
                        <select class="form-select" id="ContentType" aria-label="Default select example" style="width:80%">
                            <option selected value="text/plain">Plain Text</option>
                            <option value="text/markdown">Markdown</option>
                        </select>
                    </div>            

                </div>
                <div id="save-alert"></div>
                {% if hostName %}
                <button type="button" class="btn btn-dark" id="postForeign" onclick="postComment('external')">Post!</button>
                {% else %}
                <button type="button" class="btn btn-dark" id="postForeign" onclick="postComment('internal')">Post!</button>
                {% endif %}
            </div>
        </form>
    </div>
    <script>
        const commonHeaders = {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
            "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
        };
        
        function displayAlert(alertType, alertMessage) {
            alertContainer = document.getElementById("save-alert");
            alertContainer.innerHTML = "";
            saveAlert = document.createElement("div");
            saveAlert.classList.add("alert", alertType);
            saveAlert.innerText = alertMessage;
            alertContainer.appendChild(saveAlert);
        }

        async function postComment(type){
            if (type == 'internal'){
                const post_url = new URL("{{post.id}}");
                const comment_url = "/api" + post_url.pathname + "/comments/";
                const data = {
                    content : document.getElementById("Comment").value,
                    contentType : document.getElementById("ContentType").value,
                    author : JSON.parse('{{author|escapejs}}'),
                };

                const response = await fetch(comment_url, {
                    method: "POST",
                    headers: commonHeaders,
                    body: JSON.stringify(data),
                });
                console.log(response);
                if (response.status == 201) {
                    displayAlert("alert-success", "Comment posted successfully!");
                    window.location.href = post_url.origin
                } else {
                    displayAlert("alert-danger", "Posting comment failed!");
                }
            } else if (type == 'external'){
                console.log("{{foreignauthor_id}}","{{hostName}}")
                const foreignauthor_id = "{{foreignauthor_id}}"
                const post_id = "{{post_id}}"
                const hostname = "https://" + "{{hostName}}"
                let url = `${hostname}/api/authors/${foreignauthor_id}/posts/${post_id}/comments`;
                if (hostname === "https://social-distribution-w23-t17.herokuapp.com"){
                    url = `${hostname}/authors/${foreignauthor_id}/posts/${post_id}/comments`;
                }
                let authorization = "Token 516e5c3d636f46228edb8f09b9613d5b4b166816";
                //Authorization
                var listOfConnections = JSON.parse('{{connections|escapejs}}');
                const remoteConnection = listOfConnections.find(connection => connection.hostName === hostname);
                authorization = remoteConnection.apiCreds;
                const data = {
                    "@context": "Post Comment",
                    "type": "comment",
                    "author": JSON.parse('{{author|escapejs}}'),
                    "comment": document.getElementById("Comment").value,
                    "contentType" : document.getElementById("ContentType").value,
                }
                console.log("post obj:",JSON.stringify(data))
                // POST a like object to the author's inbox
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Authorization": authorization
                    },
                    body: JSON.stringify(data),
                });
                if (response.status == 200) {
                    displayAlert("alert-success", "Comment posted successfully!");
                } else {
                    displayAlert("alert-danger", "Posting comment failed!");
                }
            }
            
        }

        // async function sendToInbox(id, data) {
        //     let url = new URL(id);
        //     let author_relative_path = url.pathname + "/"
        //     for (connection of connections) {
        //         if ("https://" + url.hostname == connection.hostName) {
        //             fetch(connection.apiAddress + author_relative_path + "inbox/", {
        //                 method: "POST",
        //                 headers: {
        //                     "Content-Type": "application/json",
        //                     "X-CSRFToken": "{{ csrf_token }}",
        //                     "Authorization": connection.apiCreds
        //                 },
        //                 body: JSON.stringify(data),
        //             });
        //             break;
        //         }
        //         else if ("https://" + url.hostname == "https://socialdistcmput404.herokuapp.com") {
        //             fetch("/api" + author_relative_path + "inbox/", {
        //                 method: "POST",
        //                 headers: commonHeaders,
        //                 body: JSON.stringify(data),
        //             });
        //             break;
        //         }
        //     }
        // }
    </script>
</main>
{% endblock content %}