{% extends 'base.html' %}
<link rel="stylesheet" href="../static/socialDist/styles.css">
{% block content %}

<div class="container-md mt-3">
  <h1 class="fw-bold">
      <!-- Show profile image if author has, otherwise show default image -->
      {% if author.profileImage %}
      <img src="{{author.profileImage}}" class="rounded-circle"
          style="width: 100px; height: 100px; object-fit: cover;">
      {% else %}
      <img src="https://ui-avatars.com/api/?name={{author.displayName}}&size=100" class="rounded-circle"
          style="width: 100px; height: 100px; object-fit: cover;">
      {% endif %}
      My Stream
  </h1>

  <div class="grid">
      <h4 class="border-bottom py-2">Private & Unlisted Posts</h4>
      <div class="grid" id="posts">
          <div class="card my-3" id="placeholder">
              <div class="card-body"> No posts to show</div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}