{% extends 'base.html' %} {% block content %}
<div class="container my-4">
  
  <form>
    <!-- <h2 class="border-bottom py-3">Settings: </h2> -->

    <!-- heading -->
    <div class="container-md mt-3">
      <!-- Show image and name-->
      <h1 class="fw-bold">
        <!-- Show profile image if author has, otherwise show default image -->
        {% if author.profileImage %}
        <img src="{{author.profileImage}}" class="rounded-circle"
          style="width: 100px; height: 100px; object-fit: cover;">
        {% else %}
        <img src="https://ui-avatars.com/api/?name={{author.displayName}}&size=100" class="rounded-circle"
          style="width: 100px; height: 100px; object-fit: cover;">
        {% endif %}
        Settings for {{author.displayName}}
      </h1>

      {% load tz %}
      <i>Last login: {{ user.last_login|timezone:"America/Edmonton" }} MST</i>
      <br><br><br>
      <!-- Print rest of author's fields -->

      <!-- {% if author.github %}
      <p>GitHub: {{author.github}}</p>
      {% endif %} -->
    </div>

    <div class="container-md mt-3">
      <div class="grid">
        <h4 class="border-bottom py-2 fw-bold">Your Account Information</h4>
        <div class="grid" id="account-info">

          <div class="card my-3">
            <div class="card-header fw-bold">
              ID
            </div>
            <div class="card-body">
              {{author.id}}
            </div>
          </div>

          <div class="card my-3">
            <div class="card-header fw-bold">
              Host
            </div>
            <div class="card-body">
              {{author.host}}
            </div>
          </div>

          <div class="card my-3">
            <div class="card-header fw-bold">
              Display Name
            </div>
            <div class="card-body">
              {{author.displayName}}
            </div>
          </div>

          <div class="card my-3">
            <div class="card-header fw-bold">
              GitHub URL
            </div>
            <div class="card-body">
              {{author.github}}
            </div>
          </div>

          <div class="card my-3">
            <div class="card-header fw-bold">
              Profile Image URL
            </div>
            <div class="card-body">
              {{author.profileImage}}
            </div>
          </div>
        </div>

        <h4 class="border-bottom py-2 mt-4 fw-bold">Edit Account Settings</h4>
        <div class="grid" id="account-settings">
          <i>*Only edited fields will Be changed, feel free to leave fields blank/unedited if you don't want them to
            be
            changed</i>
          <div class="my-3">
            <label for="username" class="form-label">Display Name: /label>
            <!-- OLD code -->
            <!-- <input type="text" class="form-control" id="username" value="{{author.displayName}}" required> -->
            <input type="text" class="form-control" id="username" value="{{author.displayName}}"
              placeholder="Maximum 40 characters">
          </div>
          <div class="mb-3">
            <label for="github" class="form-label">GitHub URL:</label>
            <!-- OLD code -->
            <!-- <input type="url" class="form-control" id="github" value="{{author.github}}" required> -->
            <input type="url" class="form-control" id="github" value="{{author.github}}"
              placeholder="ex. https://github.com/sampleUserAccount">
          </div>
          <div class="mb-3">
            <label for="pfp-link" class="form-label">Profile Image URL:</label>
            <!-- OLD Code -->
            <!-- <input type="url" class="form-control" id="pfp-link" value="{{author.profileImage}}" required> -->
            <input type="url" class="form-control" id="pfp-link" value="{{author.profileImage}}"
              placeholder="ex. https://i.imgur.com/sampleUserImage.jpeg">
          </div>
        </div>
      </div>
      <div id="save-alert"></div>
      <button type="submit" class="btn btn-primary" id="settings_save_changes" onclick="sendUserInfo(event)">
        Save Changes
      </button>
    </div>

    <!-- Commented password in case we need it again -->
    <!-- <h3 class="mt-5">Change Password (Coming soon)</h3>
    <div class="mb-3">
      <label for="current-password" class="form-label">Current Password</label>
      <input
        type="password"
        class="form-control"
        id="current-password"
        placeholder="Enter your current password"
        disabled
      />
    </div>
    <div class="mb-3">
      <label for="new-password" class="form-label">New Password</label>
      <input
        type="password"
        class="form-control"
        id="new-password"
        placeholder="Enter new password"
        disabled
      />
    </div>
    <div class="mb-3">
      <label for="confirm-password" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        placeholder="Re-enter new password"
        disabled
      />
    </div> -->
    
  </form>
</div>

{% csrf_token %}
<script>
  function displayAlert(alertType, alertMessage) {
    alertContainer = document.getElementById("save-alert");
    alertContainer.innerHTML = "";
    saveAlert = document.createElement("div");
    saveAlert.classList.add("alert", alertType);
    saveAlert.innerText = alertMessage;
    alertContainer.appendChild(saveAlert);
  }

  async function sendUserInfo(e) {
    alertContainer = document.getElementById("save-alert");
    e.preventDefault();

    const data = {
      displayName: document.getElementById("username").value,
      github: document.getElementById("github").value,
      profileImage: document.getElementById("pfp-link").value,
    };

    console.log(data)

    // if no fields changed at all
    if (
      "{{author.displayName}}" === data.displayName &&
      "{{author.github}}" === data.github &&
      "{{author.profileImage}}" === data.profileImage
    ) {
      displayAlert("alert-warning", "No changes detected.");
      return;
    }

    if (
      data.displayName === "") {
      displayAlert("alert-danger", "Username cannot be blank.");
      return;
    }

    let author_url = new URL("{{author.id}}")
    let author_relative_path = author_url.pathname
    const response = await fetch("/api" + author_relative_path + "/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
        "Authorization": "Token 516e5c3d636f46228edb8f09b9613d5b4b166816"
      },
      body: JSON.stringify(data),
    });
    if (response.status === 201) {
      displayAlert("alert-success", "Changes saved successfully!");
    } else {
      displayAlert(
        "alert-danger",
        `An error occurred while saving: ${response.statusText}`
      );
    }
  }

  // function stream(){
  // // For testing new function later implement on stream
  // // Source: https://www.youtube.com/watch?v=zUcc4vW-jsI
  // fetch('https://api.github.com/users/Alex-Mak-MCW/events')
  //   .then(res => {
  //     return res.json();
  //   })
  //   .then(data => {
  //     console.log(data);
  //     data.forEach(user => {
  //       // console.log(user.id);
  //       const markUp=`<li>${user}</li>`;
  //       console.log(user.id);
  //       document.querySelector('ul').insertAdjacentHTML("beforeend", markUp);
  //     });
  //   })
  //   .catch(error=> console.log(error));
  // }

</script>
{% endblock content %}